.header {
	$self: &;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;

	padding: 42px 0 0;

	&__inner {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: vw(1768);
		margin: 0 auto;
		padding: 0 vw(20);

		& > * {
			align-self: flex-start;
		}
	}

	&__logo {
		margin-top: vw(-42);
		margin-right: vw(146);
	}

	&__nav {
		margin-right: auto;
	}

	&__image {
		width: vw(151);
		margin-left: vw(20);
		margin-right: vw(4);

		img {
			@include image-block;
		}
	}
}
