.header {
	$self: &;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;

	padding: vw(42) 0 0;

	@include media-max(md) {
		position: static;
		padding-top: vw-m(20);
		padding-bottom: vw-m(28);
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: vw(1768);
		margin: 0 auto;
		padding: 0 vw(20);

		& > * {
			align-self: flex-start;
		}
	}

	&__logo {
		margin-top: vw(-42);
		margin-right: vw(146);

		@include media-max(md) {
			margin-top: 0;
			margin-left: vw-m(77);
			margin-right: 0;
		}
	}

	&__x {
		display: none;

		@include media-max(md) {
			display: block;
			margin-left: vw-m(27);
			font-family: $font-family--secondary;

			@include text(vw-m(22), 1);
			font-weight: 400;
			text-transform: uppercase;
			align-self: flex-end;
		}
	}

	&__nav {
		margin-right: auto;

		@include media-max(md) {
			display: none;
		}
	}

	&__image {
		width: vw(151);
		margin-left: vw(20);
		margin-right: vw(4);

		img {
			@include image-block;
		}

		@include media-max(md) {
			display: none;
		}
	}
}
