.pro-style {
	&__inner {
		position: relative;
		display: flex;
		padding-right: vw(241);

		@include media-max(md) {
			display: block;
			padding-right: vw-m(15);
		}
	}

	&__main {
		width: 100%;
		max-width: vw(440);
		padding-right: vw(24);

		@include media-max(md) {
			display: flex;
			flex-wrap: wrap;
			max-width: none;
			margin-bottom: vw-m(24);
			padding-right: 0;
		}
	}

	&__aside {
		width: vw(1072);
		padding-top: vw(4);

		@include media-max(md) {
			width: 100vw;
			margin-left: vw-m(-15);
			padding-top: 0;
		}
	}

	&__sidebar {
		position: absolute;
		right: vw(158);
		bottom: vw(317);

		@include media-max(md) {
			right: vw-m(10);
			bottom: vw-m(220);
		}
	}

	&__heading {
		margin: 0 0 vw(45);

		br {
			display: none;
		}

		@include media-max(md) {
			position: relative;
			width: 100%;
			margin-bottom: vw-m(20);

			br {
				display: block;
			}
		}

		span {
			position: relative;

			@include media-max(md) {
				position: static;
				display: inline-block;
			}

			&::before {
				content: "";
				position: absolute;
				left: vw(92);
				top: vw(21);
				width: vw(51);
				height: vw(51);
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url("../img/star.svg");

				@include media-max(md) {
					left: auto;
					right: vw-m(92);
					top: vw-m(21);
					width: vw-m(29);
					height: vw-m(29);
				}
			}
		}
	}

	&__text {
		max-width: vw(320);
		margin-bottom: vw(80);
		padding-left: vw(8);
		color: $color-dark;
		letter-spacing: 0.03em;

		@include media-max(md) {
			max-width: vw-m(173);
		}

		p {
			margin: 0;
		}

		p + p {
			margin-top: vw(38);
		}
	}

	&__image {
		width: 100%;
		max-width: vw(308);
		margin-left: vw(4);

		img {
			@include image-block;

			&:last-child {
				display: none;
			}
		}

		@include media-max(md) {
			max-width: vw-m(177);
			margin-right: vw-m(-15);
			margin-left: auto;

			img {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: block;
				}
			}
		}
	}

	&__slider {
	}
	&__slide {
	}
	&__paginate {
		position: absolute;
		z-index: 1;
		bottom: vw(170) !important;
		right: vw(37);
		left: auto !important;
		display: flex;
		justify-content: flex-end;
		width: auto !important;

		@include media-max(md) {
			top: vw-m(269);
			left: vw-m(17) !important;
			right: auto;
			bottom: auto !important;
			justify-content: flex-start;
		}
	}

	&__fraction {
		position: absolute;
		z-index: 2;
		right: vw(18);
		top: vw(21);
		font-family: $font-family--secondary;

		@include text(vw(58), 1, $color-default-white);
		font-weight: 400;

		@include media-max(md) {
			top: vw-m(26);
			right: vw-m(9);
			font-size: vw-m(22);
		}
	}

	&__nav {
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: vw(37);
		display: flex;
		justify-content: flex-end;

		@include media-max(md) {
			right: vw-m(68);
			bottom: auto;
			top: vw-m(257);
		}

		&-btn {
			display: block;
			width: vw(39);
			height: vw(39);
			padding: 0;
			border: none;
			background-color: $color-smoky;
			cursor: pointer;

			@include media-max(md) {
				width: vw-m(29);
				height: vw-m(29);
			}

			& + & {
				margin-left: vw(11);

				@include media-max(md) {
					margin-left: vw-m(9);
				}
			}

			&.swiper-button-disabled {
				pointer-events: none;

				svg {
					fill: $color-grey;
				}
			}

			svg {
				@include image-block;

				fill: $color-hasai;

				@include transition(fill);
			}

			@include hover {
				svg {
					fill: $color-hasai-2;
				}
			}

			&--prev {
				svg {
					transform: scale(-1, 1);
				}
			}
			&--next {
			}
		}
	}
}
