.social {
	$self: &;

	@include list-reset;

	&__item {
		margin-bottom: vw(6);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: flex;
		width: vw(39);
		height: vw(39);
		justify-content: center;
		border-radius: vw(5);
		border: solid vw(3) $color-grey;

		@include transition(border-color);

		svg {
			align-self: center;
			fill: $color-grey;

			@include transition(fill);
		}

		&--ok {
			svg {
				width: vw(12);
				height: vw(21);
			}
		}
		&--tw {
			svg {
				width: vw(20);
				height: vw(16);
			}
		}
		&--fb {
			svg {
				width: vw(12);
				height: vw(22);
			}
		}
		&--vk {
			svg {
				width: vw(22);
				height: vw(13);
			}
		}

		@include hover {
			border-color: $color-hasai;

			svg {
				fill: $color-hasai;
			}
		}
	}
}
