.social {
	$self: &;

	@include list-reset;

	@include media-max(md) {
		display: flex;
	}

	&__item {
		margin-bottom: vw(6);

		@include media-max(md) {
			margin-bottom: 0;
			margin-right: vw-m(20);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		display: flex;
		width: vw(39);
		height: vw(39);
		justify-content: center;
		border-radius: vw(5);
		border: solid vw(3) $color-grey;

		@include transition(border-color);

		@include media-max(md) {
			width: vw-m(39);
			height: vw-m(39);
			border-radius: vw-m(5);
			border-width: vw-m(3);
		}

		svg {
			align-self: center;
			fill: $color-grey;

			@include transition(fill);
		}

		&--ok {
			svg {
				width: vw(12);
				height: vw(21);

				@include media-max(md) {
					width: vw-m(12);
					height: vw-m(21);
				}
			}
		}
		&--tw {
			svg {
				width: vw(20);
				height: vw(16);

				@include media-max(md) {
					width: vw-m(20);
					height: vw-m(16);
				}
			}
		}
		&--fb {
			svg {
				width: vw(12);
				height: vw(22);

				@include media-max(md) {
					width: vw-m(12);
					height: vw-m(22);
				}
			}
		}
		&--vk {
			svg {
				width: vw(22);
				height: vw(13);

				@include media-max(md) {
					width: vw-m(22);
					height: vw-m(13);
				}
			}
		}

		@include hover {
			border-color: $color-hasai;

			svg {
				fill: $color-hasai;
			}
		}
	}
}
