.pro-style__slide.slide.swiper-slide
	.slide__image
		img(src="img/slider/slide-bg.jpg", srcset="img/slider/slide-bg@2x.jpg 2x", width="1072", height="712", alt="")

		.slide__video.video(data-aos="fade-in")
			video
				source(src="video/video.mp4", type="video/mp4")
				source(src="video/video.webm", type="video/webm")
			.video__poster
				img(src="img/slider/poster.jpg", srcset="img/slider/poster@2x.jpg 2x", width="830", height="498", alt="")
				button.video__btn(type="button")
					+icon('play')(width="138", height="138")
					span.visually-hidden Play
	.slide__author
		.slide__author-image(data-aos="fade-up")
			img(src="img/slider/author-5.jpg", srcset="img/slider/author-5@2x.jpg 2x", width="198", height="201", alt="")
		.slide__author-main
			.slide__author-name(data-aos="fade-up") Иван Поздняков
			.slide__author-text(data-aos="fade-up") Добавить самых ярких цветов в монохром? Иван легко с этим справится, создав абсолютно уникальный и лаконичный интерьер. Ни одна деталь не будет лишней, в пространстве всё работает в связке. Дизайнер умело работает и в сдержанной гамме, используя геометрию и нестандартные формы. Иван также является сооснователем студии P+Z.
