.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.relative {
	position: relative;
}

.d-none {
	display: none !important;
}

/* swiper */
.swiper-pagination {
	position: relative;
}

.swiper-container-horizontal > .swiper-scrollbar {
}

.swiper-pagination-bullet {
	width: vw(8) !important;
	height: vw(8) !important;
	margin: 0 0 0 vw(42) !important;
	background-color: $color-grey !important;
	opacity: 1 !important;

	@include media-max(md) {
		width: vw-m(6) !important;
		height: vw-m(6) !important;
		margin: 0 vw-m(30) 0 0 !important;
	}

	&-active {
		background-color: $color-hasai !important;
	}

	&:hover,
	&:focus {
		outline: none;
	}
}
