/*
$width--full: 1830px;
$width--large: 1550px;
$width--small: 760px;
*/
// Colors
//---------------------------------
$color-default-white: #ffffff;
$color-default-black: #000000;

$color-smoky: #fdfdfd;
$color-smoky2: #f9f8f8;

$color-hasai: #19647d;
$color-hasai-2: #41a0c3;
$color-grey: #c4c4c4;
$color-dark: #353437;

$color-base: $color-hasai; // основной цвет текста, используется в миксине text()

// Typography
//--------------   $font-family, $file-name, $weight, $style: normal

//
$fonts: "Geometria" "Geometria-Regular" 400 normal,
	"Geometria" "Geometria-Medium" 500 normal, "Roboto" "Roboto-Light" 300 normal;

$font-family--main: "Roboto", "Arial", sans-serif;
$font-family--secondary: "Geometria", "Arial", sans-serif;

$font-size-base: calc((17 / 1920) * 100vw); //17px;
$line-height-base: 1.11764; //19px

/////////////////////////////
$default-transition-settings: 0.3s ease;

///////////////////////////////

// Viewports
//---------------------------------

$breakpoints: (
	default: "default",
	xs: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1440px,
	xxx: 1920px,
) !default;

// container max width
$containerMaxWidths: (
	xs: 100%,
	sm: 576px,
	md: 720px,
	lg: 960px,
	xl: 990px,
	xxl: 990px,
	xxx: 990px,
) !default;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
